
  #about-me-header {
    margin-bottom: 2em; 
  }
    
  /* The p tags that are descendants of the section tags are the answers */
  section p {
    font-size: 1.7em;
    line-height: 1.3em;
    color: whitesmoke;
    font-family: 'Cutive Mono', sans-serif;

  }

  #image-grid {
    padding: 0rem 5rem;
    height: 100%;
  }
  
#image-grid .col-sm-3 {
  padding: .5rem .5rem;
  height: 10rem;
  overflow: hidden; 
}

#image-grid img{
  width: 100%;
  height: 100%;
}
body { margin:0; /* This is used to reset any browser-default margins */ }

  /* This class is included in the last p tag of each section to create more space */
  .space-maker {
    margin-bottom: 2em;
  }
  
  .content {
    height: 100vh;
  }

 