.tooltip > .tooltip-inner {background-color: #f00;max-width:1000px}
.tooltip > .tooltip-arrow { border-bottom-color:#f00; }
.tooltip {width: 100%}

html, body {
    width: 100%;
    height: 100%
}

#movies {
    margin-top: 4rem;
    margin-bottom: 4rem
}



/*
.movie-thumbs {
   box-shadow: 7px 4px 31px 5px rgba(255, 0, 0, 0.58);
    -webkit-box-shadow: 7px 4px 31px 5px rgba(255, 0, 0, 0.58);
    -moz-box-shadow: 7px 4px 31px 5px rgba(255, 0, 0, 0.58);
    border-radius: 10px;
    }
*/