html, body {
    width:100%;
    height:100%;
    background:black;
    padding:0;
    margin:0;
}

#movies {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width:80%;
}

#movies img {
    transition: all .3s ease-in-out;
    border: solid 1px rgba(172, 47, 9, 0.801)
}

#movies img:hover {
    transform: scale(1.5)
}

#movie-modals .carousel-inner img{
    height: auto;
    max-width: 100%;
}


