#myFooter {
    background-color: #000000;
    color: white;
}

#myFooter .row {
    margin-top: 30px;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    color: rgb(250, 4, 4);
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .contact:hover {
    color: #ffffff;
    background-color: #ef1a1a
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    border: 0px;
    width: 10rem;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    display: block;
    line-height: 25px;
}
