@font-face {
	font-family: 'CoffeeTin';
	src: url('../fonts/CoffeeTinInitials.eot');
	src: url('../fonts/CoffeeTinInitials.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CoffeeTinInitials.woff') format('woff'),
		url('../fonts/CoffeeTinInitials.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#myHeader {
    margin-bottom: 4rem
}

#myHeader .navbar {
    padding-top:1rem;
    padding-bottom: 1rem;
    background-color: black !important;
}

#myHeader .navbar-brand:hover {
    color: red !important;
}

#myHeader .nav-item {
    margin-right: 5rem;
}

#myHeader .active .nav-link {
    font-size: 200%;
    color:white
}

#logoHeader img {
width: 50%;
display: block;
margin: auto;
}

#navbarHome .nav-link {
    font-size: 150%;
    font-family: 'CoffeeTin';
    color:red
    
}



