@font-face {
	font-family: 'CoffeeTin';
	src: url('../fonts/CoffeeTinInitials.eot');
	src: url('../fonts/CoffeeTinInitials.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CoffeeTinInitials.woff') format('woff'),
		url('../fonts/CoffeeTinInitials.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.navbar {
    padding-top:1rem;
    padding-bottom: 1rem;
    background-color: black !important;
}

.navbar-brand:hover {
    color: red !important;
}

.navbar-brand {
    font-family: 'CoffeeTin' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    padding: 0;
}

#navbarHome .nav-link {
    font-size: 150%;
    
}

#navbarHome .nav-link:hover {
    color:red;
}


#mainNavbar ul {
    text-align: center;
    list-style-type: none
}

#mainNavbar ul li {
    display: inline-block
}
