@font-face {
	font-family: 'CoffeeTin';
	src: url('../fonts/CoffeeTinInitials.eot');
	src: url('../fonts/CoffeeTinInitials.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CoffeeTinInitials.woff') format('woff'),
		url('../fonts/CoffeeTinInitials.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.navbar {
    padding-top:1rem;
    padding-bottom: 1rem;
    background-color: black !important;
}

.navbar-brand:hover {
    color: red !important;
}


#navbarHome .nav-link {
    font-size: 150%;
    font-family: 'CoffeeTin';
    color:red
    
}



